body{
     font-family: 'Open Sans', sans-serif;
}
 .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link, nav{
     color: #94AE3C;
}
.navbar-dark .navbar-toggler {
    color: #333;
    border-color: #333;
}
.orange-txt{
    color: #C2A039;
}
.pr0{
    padding-right: 0;
}
.pl25{
    padding-left: 25px;
}
.mt0{
    margin-top: 0px!important;
}
input,  input.form-control{
    border-radius: 0;
}
.featured-block-media{
        width: 40%;
    float: left;
    position: relative;
}
.featured-block-txt p{
    margin-bottom: 0;
}
.featured-block-txt .post-date{
    color:#212529;
}
.featured-block-txt{
        width: 60%;
    float: left;
    vertical-align: bottom;
    display: table;
    position: relative;
    padding-left: 15px;
}
.featured-block-wrap{
        margin-bottom:30px;
    display: block;
    clear: both;
    height: 125px;
}
.pl0{
    padding-left: 0;
}
.footer-content{
    margin-bottom: 30px;
}
ul.footer-social { 
    margin: 0;
    padding: 0;
    
}
.footer-social li{ 
    margin: 0;
    padding: 0;
    display: inline-block;
    
    font-size: 13px;
}
.footer-social li .fa{ 
   color: #212529;
    font-size: 16px;
}

footer{
    padding: 1rem 0!important;
}
.footer-content h3{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px 0;
    padding:  0 0 15px 0;
}
.footer-content ul{
    margin: 0;
    padding: 0;
    
}
.footer-content ul li{
    margin: 0;
    padding:5px;
    list-style: none;
    font-size: 13px;
    
}
.footer-content p{
    font-size: 13px;
}
.media-type{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #94ae3c;
    padding: 5px 10px;
}
.media-type .fa{
    color: #fff
}
.newsletter-wrap input{
    margin-bottom: 10px;
}
h2.sub-head{
    font-size: 22px;
    color: #333;
    border-bottom: #94AE3C 1px solid;
    margin: 20px 0;
    padding-bottom: 10px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 0;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card-body .post-date{
    padding: 0px 0px 0px 0px;
    color: #333;
}
.card-body p {
    margin-top:5px;
    margin-bottom: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-dark .navbar-toggler {
    color: #333;
    border-color: #333;
}
.navbar-dark .navbar-toggler-icon {
    background-image:none;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: #333;
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 
} 
 .navbar-dark .navbar-nav .nav-link{
    color:#333;
    font-size: 13px;
     
     font-weight: 600;
}
 .navbar-expand-lg .navbar-nav .nav-link {
     padding-right: 1rem;
     padding-left: 0rem;
     font-size: 13px;
    font-weight: 600;
}
 .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
     color: #94AE3C;
}
 .navbar-brand img{
     width: 180px;
     margin-top: 10px;
}
 .slider-wrap{
     background:#EEEFF3;
}
 .navbar{
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 10px;
}
 .nav-header{
     background: #94AE3C
}
.post-date{
    font-size: 12px;
    padding: 3px 0px  0px 0px;
    color: #fff;
    width: auto;
    display: inline-block;
}
 body {
     padding-top: 0px;
}
 ul.header-social{
     margin: 0;
     padding: 5px 0 10px;
     text-align: right;
    width: 100%;
}
 ul.header-social li{
     margin: 0;
     padding: 0 10px;
     display: inline-block;
     list-style: none;
     font-size: 13px;
}
.search-icon .fa{
    color:#666;
}
 ul.header-social li:first-child{
     border-right: #fff 1px solid;
   
}
 ul.header-social li .fa{
     font-size: 22px;
     
}
 .header-social, .header-social a{
     color: #fff;
}
 .full-width-wrap{
    width: 100%;
}
.width100pers{
    width: 100%
}
/*Slider*/
 * {
     box-sizing: border-box;
}
 .slider {
     width:100%;
     margin: 20px auto;
}
 .slick-slide {
     margin: 0px 0px;
}
 .slick-slide img {
     width: 100%;
}
 .slick-prev:before, .slick-next:before {
     color: black;
}
 .slick-slide {
     transition: all ease-in-out .3s;
     opacity: .2;
}
 .slick-active {
     opacity: .5;
}
 .slick-current {
     opacity: 1;
}
 .slide-lg{
     height:400px;
     background:red;
     float:left 
}
 .slide-sm{
     height:200px;
     background:blue;
     float:left ;
     overflow: hidden;
}
 .slide-list-wrap .slide-sm:nth-child(1){
     border:1px solid #fff;
     border-top: none;
}
 .slide-list-wrap .slide-sm:nth-child(2){
     border-bottom:1px solid #fff;
}
 .slide-list-wrap .slide-sm:nth-child(3){
     border-right:1px solid #fff;
     border-left:1px solid #fff;
}
 .slide-news-wrap{
     position: absolute;
     bottom:0;
     left: 0;
}
/*Headings*/
 .slide-news-wrap{
     background-color:rgba(0, 0, 0, 0.4);
}
.search-icon{
    position: absolute;
    right: 10px;
    top:3px;
}
.search-top{
    position: relative;
}
.search-top input{
    font-size: 13px;   
    width: 220px;
    border-radius: 0;
}
ul.latest-news{
    margin: 0;
    padding: 0;
}
ul.latest-news li{    
    color:  #333;
    font-size: 12px;
    border-right: 1px solid #333; 
    margin:15px 0 0 0;
    padding: 0 10px;
    list-style: none;
    display: inline-block;  
    }
ul.latest-news li a{    
    color:  #333;
   text-decoration: none;
    }
ul.latest-news li a:hover{    
    color:  #333;
   text-decoration: underline;
    }
.form-control.submit{
    background: #FFFF33;
    cursor: pointer;
    border: #FFFF33 1px solid;
}
ul.latest-news li:first-child{
    background: #94AE3C;
    color:  #fff;
    border-right: 0;
}

ul.latest-news li:last-child{

    border-right: 0;
}
 h1.slide-title{
     font-size: 20px;
     color: #fff;
     font-weight: 300;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     line-height: 26px;
     max-height: 70px;
     -webkit-line-clamp: 2;
    /* number of lines to show */
     -webkit-box-orient: vertical;
         margin: 5px 0px 0px 0px;
}
/*home page*/
 .slide-news-wrap{
     padding: 10px;
     box-sizing: border-box;
     width: 100%;
}
 .category-label{
     background: #94ae3c;
     text-transform: uppercase;
     font-size: 12px;
     padding: 3px 8px;
     color: #fff;
     width: auto;
     display: inline-block;
}
 .date-label{
     float: left;
     font-size: 12px;
     width:auto;
}

/* POst Details Page*/
.post-details-page-wrap{
    margin-top:30px;
    margin-bottom: 30px;
}
.post-details-thumb-img{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: left;
}
.post-details-thumb-img  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.post-details-title{
    padding: 20px 0 5px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.post-details-title h1{
    font-size:24px;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: 400;
    color: #333;
}
.post-details-title .post-date{
color: #333;
padding-left:5px;
}
.ads-home-right{


}
.ads-home-right img{

}
 @media (min-width: 992px) body {
     padding-top: 0px;
}
}
